%%Panel.HTMLHead%%
<body class="brand">
    %%Panel.DrawerMenu%%
    <div class="page">
        %%Panel.Header%%
        <div class="main">
            <div class="inner">
                %%Panel.BrandBreadcrumb%%                
                %%Panel.WrapperBanner%%
                %%Banner.TopBanner%%                    
                <div class="productlist-page">
                    
                    <div class="headingSort clearfix">      
                        %%SNIPPET_CategorySortBox%% 
                        <h1 class="TitleHeading">%%GLOBAL_TrailBrandName%%</h1>
                        %%SNIPPET_BrandPaging%%                                                  
                    </div>
                    <div class="Content Wide %%GLOBAL_ExtraCategoryClass%%" id="LayoutColumn1">
                        
                        %%Panel.BrandContent%%
                    </div>
                    %%Banner.BottomBanner%%
                    <div class="clear"></div>
                </div>
                <div class="Left">
                    %%Panel.SideShopByBrandFull%%
                    %%Panel.FacetedSearch%%
                </div>
            </div>
        </div>
        %%Panel.Footer%%
    </div>
</body>
</html>