%%Panel.HTMLHead%%
    <body class="tags">
        %%Panel.DrawerMenu%%
        <div class="page">
            %%Panel.Header%%
            <div class="main">
                <div class="inner">
                    %%Panel.WrapperBanner%%
					%%Panel.Breadcrumb%%
                    <div class="productlist-page">
						<div class="Content Widest" id="LayoutColumn1">
							%%Panel.ProductTagCloud%%
							%%Panel.TagProducts%%
						</div>
					</div>
					<div class="Left fleft">
						%%Panel.SideCategoryList%%
					</div>	
                    <div class="clear"></div>
                </div>
            </div>
            %%Panel.Footer%%
        </div>
    </body>
</html>