<div class="footer">

        <div class="footer-main">
            <div class="inner">
                <div class="footer-columns grid">
                    <div class="grid__item f-pages">%%Panel.PagesMenu%%</div>
                    <div class="grid__item f-cat">%%Panel.FooterCategoryList%%</div>
                    <div class="grid__item socialize">%%Panel.SocialLinks%%</div>
                    <div class="grid__item f-newsletter">
                        <div class="clearfix">
                        %%Panel.SideNewsletterBox%%
                        </div>
                        
                        <div class="help">
                            <h4>Need Help?</h4>
                            <p><a href="tel:%%GLOBAL_StorePhoneNumber%%">%%GLOBAL_StorePhoneNumber%%</a> <a href="mailto:info@bigcommerce.com" class="contact-email">info@bigcommerce.com</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="footer-links">
            <div class="inner">
                <p id="payment"><img src="/templates/__custom/images/payments.png" alt="Payments Modes Accepted by %%GLOBAL_StoreName%%" width="211" height="24" /></p>
                <p>Copyright &copy; %%GLOBAL_Year%% %%GLOBAL_StoreName%%. All Right Reserved. <a href="http://coalitiontechnologies.com" target="_blank">Coalition Technologies</a></p>
                %%GLOBAL_DebugDetails%%
            </div>
        </div>

</div>



<script>
$(document).ready(function(){
  var isSafari = /constructor/i.test(window.HTMLElement);
  if(isSafari){
    $('.TopMenu .loginLink .clearfix').css({ 'top': '3px' });
    $('.grid__item.f-newsletter').css({ 'width': '27%' });
  }
});
</script>
<script src="/templates/__custom/js/theme.js"></script>
%%GLOBAL_DesignModeHTML%%
%%GLOBAL_QueryList%%
%%GLOBAL_DesignModeScriptTag%%
%%GLOBAL_LiveChatFooterCode%%
%%GLOBAL_OptimizerTrackingScript%%
%%GLOBAL_OptimizerConversionScript%%
%%GLOBAL_OptimizerSetCookieScript%%
%%GLOBAL_FooterScripts%%
%%SNIPPET_FastCartThickBoxJs%%
