<div class="header">
        <div id="AjaxLoading"><img src="%%GLOBAL_IMG_PATH%%/loader.png" alt="" />&nbsp;%%LNG_LoadingPleaseWait%%</div>
        %%GLOBAL_MaintenanceNotice%%

        <div id="Header">
          <div class="inner">
            <div id="ToggleMenu" class="fa fa-bars normal"></div>  
            <div class="header-logo" id="Logo">
                %%GLOBAL_HeaderLogo%%
            </div><!-- #Logo -->
            <div class="right clearfix">
                %%Panel.TopMenu%%
                <div class="quicklinks-wrapper clearfix">   
                    %%Panel.HeaderSearch%%
                    <div class="PageMenu">
                        %%Panel.SideCategoryList%%
                    </div>
                </div>
                %%Panel.SideCurrencySelector%%
            </div><!-- .right -->
         </div><!-- .inner-->

        </div><!-- #Header-->
</div>